APP_NAME="DJ Platform"
URL_ROOT="http://localhost/djro_v3.0"

DB_HOST="localhost"
DB_USER="root"
DB_PASS=""
DB_NAME="djro_db"

SMTP_HOST="localhost"
SMTP_USER=""
SMTP_PASS=""
SMTP_PORT="587"
SMTP_SECURE=""
SMTP_FROM="no-reply@djpro.com"
SMTP_FROM_NAME="DJPRO Platform"
